@use 'reset';
@use 'themes/normal';

.app {
   color: var(--primary-color);
   background: var(--bg-color);
   min-height: 100vh;
   width: 100vw;
   font-family: 'Nunito Sans', sans-serif;
   position: relative;
}
