.max {
   width: 100%;
}

.size_44 {
   font-size: 44px;
}
.size_32 {
   font-size: 32px;
}
.size_38 {
   font-size: 38px;
}
.size_30 {
   font-size: 30px;
}
.size_26 {
   font-size: 26px;
}
.size_24 {
   font-size: 24px;
}
.size_22 {
   font-size: 22px;
}
.size_20 {
   font-size: 20px;
}
.size_18 {
   font-size: 18px;
}
.size_17 {
   font-size: 17px;
}
.size_16 {
   font-size: 16px;
}
.size_15 {
   font-size: 15px;
}
.size_14 {
   font-size: 14px;
}
.size_13 {
   font-size: 13px;
}
.size_12 {
   font-size: 12px;
}
.size_11 {
   font-size: 11px;
}
.size_10 {
   font-size: 10px;
}
.size_9 {
   font-size: 9px;
}

.left {
   text-align: left;
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}

.regular {
   font-weight: 400;
}

.semibold {
   font-weight: 500;
}

.bold {
   font-weight: 700;
}

.extrabold {
   font-weight: 900;
}
