.container {
   width: 500px;
}
.title {
   margin-bottom: 20px;
}

.button {
   margin-top: 30px;
   font-size: 18px;
   font-weight: 700;
   border-radius: 6px;
}

.input {
   height: 30px;
   margin-top: 10px;
   width: 100%;
   border-radius: 6px;
}
