.Modal {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   opacity: 0;
   pointer-events: none;
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Nunito Sans', sans-serif;
}

.content {
   padding: 20px;
   border-radius: 12px;
   transition: 0.1s;
   max-width: 60%;
   opacity: 0;
   z-index: var(--modal-z-index);
   position: relative;
   background: var(--bg-color);
}

.overlay {
   opacity: 0;
   transition: 0.1s;
}

.closeBtn {
   .closeIcon {
      width: 100%;
      height: 100%;
   }
}

.opened {
   pointer-events: auto;
   opacity: 1;
   z-index: var(--modal-z-index);

   .content {
      opacity: 1;
   }

   .overlay {
      opacity: 1;
   }
}

.isClosing {
   .content {
      opacity: 0;
   }
   .overlay {
      opacity: 0;
   }
}
