:root {
   --bg-color: #e8e8ea;
   --primary-color: #2c3245;

   --light-bg-redesigned: #e2eef1;
   --text-redesigned: #141c1f;
   --hint-redesigned: #adbcc0;
   --cancel-redesigned: #ff7777;
   --accent-redesigned: #2e3739;
   --white-color: #fff;

   --card-bg: #d5d5d7;

   --overlay-color: #2e3739c0;

   --placeholder-color: #2e3739c0;
}
